*.png
wp-content/plugins/webcretix_social_login_plugin/fb_app_script.js
wp-content/plugins/wordpress-social-login/assets/css/admin.css
.htaccess
wp-config.php
wp-content/plugins/wordpress-social-login/assets/css/style.css
wp-content/plugins/wordpress-social-login/assets/img/32x32/icondock/info.txt
wp-content/plugins/wordpress-social-login/assets/img/32x32/wpzoom/license.txt
wp-content/plugins/webcretix_social_login_plugin/fb_app_script.js
wp-content/plugins/webcretix_social_login_plugin/fb_app_script.js
wp-content/plugins/webcretix_social_login_plugin/fb_app_script.js
wp-content/plugins/wordpress-social-login/assets/index.html
wp-content/plugins/wordpress-social-login/assets/img/loading.gif
*.js
wp-content/plugins/wordpress-social-login/hybridauth/endpoints/dribbble.php
wp-content/plugins/wordpress-social-login/hybridauth/endpoints/live.php
wp-content/plugins/wordpress-social-login/hybridauth/endpoints/readme.md
*.php
*.html
*.xml
*.crt
*.md
*.po
*.mo
wp-content/plugins/wordpress-social-login/LICENSE
wp-content/plugins/wordpress-social-login/readme.txt
wp-content/plugins/webcretix_social_login_plugin/fb_app_script.js