<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>

<title>Guitar Instructors - Free Lessons</title>

<link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700|Shadows+Into+Light' rel='stylesheet' type='text/css'>

<!--
[if IE]>
<link rel="stylesheet" type="text/css" href="css/ie.css" />
<![endif]
-->

<link rel="stylesheet" type="text/css" href="css/default.css" />

<link rel="stylesheet" type="text/css" media="only screen and (min-width:501px) and (max-width:1100px), only screen and (min-device-width: 501px) and (max-device-width: 1100px)" href="css/medium.css" />

<link rel="stylesheet" type="text/css" media="only screen and (min-width:0px) and (max-width:500px), only screen and (min-device-width: 0px) and (max-device-width: 500px)" href="css/small.css" />

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
</script>

</head>
<body>

<div class="wrapper"><!-- start wrapper -->

<div class="top"><!-- start top -->

<div class="logo"><!-- start logo -->

<a href="#"><img src="images/logo.png"></a>

</div><!-- end logo -->

<div class="searchArea"><!-- start searchArea -->

<div>

<form>

<input type="text">
<input type="image" src="images/searchSubmit.png">

</form>

<a href="#"><img src="images/facebook.png"></a>
<a href="#"><img src="images/twitter.png"></a>
<a href="#"><img src="images/gmail.png"></a>
<a href="#"><img src="images/rss.png"></a>

</div>

</div><!-- end searchArea -->

</div><!-- end top -->

<div class="contentWrap"><!-- start contentWrap -->

<div class="navWrap"><!-- start navWrap -->

<ul>
<li><a href="#">GUITAR LESSONS IN LOS ANGELES</a></li>
<li><a href="#">FREE GUITAR LESSON IN LOS ANGELES</a></li>
<li><a href="#">ABOUT JON MACLENNAN</a></li>
<li><a href="#">FEES</a></li>
</ul>

</div><!-- end navWrap -->

<div class="navMob"><!-- start navMob -->

<ul>
<li><a href="#">GUITAR LESSONS IN LOS ANGELES</a></li>
<li><a href="#">FREE GUITAR LESSON IN LOS ANGELES</a></li>
<li><a href="#">ABOUT JON MACLENNAN</a></li>
<li><a href="#">FEES</a></li>
</ul>

</div><!-- end navMob -->

<div class="content instContent whiteTop"><!-- start content -->

<h2>Want a Free Guitar Lesson?</h2>

<h3>
Read this eye-opening report and automatically qualify<br />
for a free ONE-ON-ONE, LIVE "IN PERSON" guitar lesson
</h3>

<h1>
The 5 Critical Factors You Need To Know<br />
Before You Even Think About Hiring
<br />
A Guitar Teacher in LOs Angeles
</h1>

<p>
If you want peace of mind knowing that you (or your child) will be<br />in good hands when they take guitar lessons in Ardmore...<br />then take 5 minutes to read this important message.
</p>

<div class="ropeDiv">

</div>

<div class="freelesTopLeft"><!-- start freelesTopLeft -->

<img src="images/freelessonImg01.png">

</div><!-- end freelesTopLeft -->

<div class="freelesTopRight"><!-- start freelesTopRight -->
Hi! My name is Jon Maclennan and I’ve been passionately playingguitar for 25 years.
<br /><br />
I’ve yet to find something more gratifying and fulfilling than playingguitar except for... TEACHING guitar to someone else.
<br /><br />
I love seeing students, young and old, light up with delight as theylearn how to play their favorite songs.
<br /><br />
It’s exhilarating to see a guitar student “rock out”... or learn how towrite their own songs on the acoustic... or... learn the groovy basicsof jazz and blues.
<br /><br />
Today I’m gonna share with you the 5 critical factors you need toknow before you even THINK of hiring any guitar teacher:
</div><!-- end freelesTopRight -->

<div class="freeLes freeLes01"><!-- start freeLes01 -->

<div class="freelesLeft">
Critical Factor #1:
</div>

<div class="freelesRight">
<h1>Passion</h1>

<p>
Passion... excitement... inspiration...They are the most important qualities for any great guitar teacher.
</p>

<p>
The last thing you want is a teacher who’s an unenthusiastic guy "just goingthrough the motions".
</p>

<p>
When someone loves what they’re doing, it comes through in the guitar lessons...the details... the inspiration... and the results.
</p>

<p>
The inspiration fuels the students progress to new heights in record time.
</p>

</div>

</div><!-- end freeLes01 -->

<div class="freeLes freeLes02"><!-- start freeLes02 -->

<div class="freelesLeft">
Critical Factor #2:
</div>

<div class="freelesRight">
<h1>Experience</h1>

<p>
Learning an instrument is a lifelong journey.  Lessons are  great because you getto benefit from someone who’s “Been there, done that”.  You want to takeadvantage of their wisdom and experience.
</p>

<p>
You can save yourself years of pain and suffering by learning the “shortcuts” toguitar mastery.</p>

<p>
A great guitar teacher is a perpetual student who’s always learning somethingnew and exciting so he can share with his students.
</p>

</div>

</div><!-- end freeLes02 -->

<div class="freeLes freeLes03"><!-- start freeLes03 -->

<div class="freelesLeft">
Critical Factor #3:
</div>

<div class="freelesRight">
<h1>A powerful sequential system</h1>

<p>
Too many guitar teachers teach whatever they “feel like” that day and throwtogether a mish-mash of random guitar lessons.</p>

<p>
The worst part is -- it leaves the student feeling confused and frustrated.</p>

<p>
And there’s nothing more sad than seeing a student quit because they had abad teacher. Every great guitar teacher uses a sequential, step-by-step guitarsystem designed to maximize your progress.
</p>

<p>
I actually have SEVERAL different systems that I use for different styles andstudents. These systems took years (even decades) to build and I’m going tohand them to you on a silver platter.
</p>

</div>

</div><!-- end freeLes03 -->

<div class="freeLes freeLes04"><!-- start freeLes04 -->

<div class="freelesLeft">
Critical Factor #4:
</div>

<div class="freelesRight">
<h1>Customized PersonalizedGuitar Lessons</h1>

<p>
I’m here to teach you what YOU want to learn.</p>

<p>
These guitar lessons are ALL ABOUT YOU.  </p>

<p>
Whether its new techniques, new ideas,  or your favorite songs, you’re in charge.
</p>

<p>
We’ll work together to make all your guitar playing dreams a reality.
</p>

</div>

</div><!-- end freeLes04 -->

<div class="freeLes freeLes05"><!-- start freeLes05 -->

<div class="freelesLeft">
Critical Factor #5:
</div>

<div class="freelesRight">
<h1>Accelerated Learning Technology</h1>

<p>
Can you increase speed of your learning by dialing in the perfect “learningmodality” for YOU?</p>

<p>
There are 4 ways someone can learn: visual, aural, analytical, and kinesthetic. Most people are a combination of these, but have 1 or 2 dominant learning styles.</p>

<p>
I’m going to give you personalized guitar lessons that are delivered with theperfect delivery system. You might be amazed at how much you can learn onthe guitar in just 3 months with this system. </p>

<p>
Although we’ve never met, I am very confident in my ability to help you reachyour goals. In fact, I’m so sure that I’m the right teacher for you, that I’m going togo ahead and offer you a free guitar lesson.
</p>

</div>

</div><!-- end freeLes05 -->

<h1 class="freeLesOffer">
Can I Offer You A Free Lesson?
</h1>

<div class="freeLesOfferLeft"><!-- start freeLesOfferLeft -->

<p>
<b>There's ZERO obligation and NO strings attached.</b>
<br />
Of course, I’m hoping you’ll become a regular student, butthat’s completely up to you.
<br /><br />
Here’s what you need to do right now:
<br />
</p>
<div class="yellowArrow">
</div>
<p>
Enter your name, email, and phone number, and click "GO".I’ll call you at my earliest opportunity to schedule yourcomplimentary guitar lesson. 
<br /><br />
I’m dedicated to helping you become a great guitar player FAST.
<br /><br />
I look forward to hearing from you!
</p>
<br />
<img class="signature" src="images/signature.png">

</div><!-- end freeLesOfferLeft -->

<div class="freeLesOfferRight"><!-- start freeLesOfferRight -->

<form>

<span>Name</span><input type=text>
<br /><br />
<span>Email</span><input type=text>
<br /><br />
<span>Phone No.</span><input type=text>
<br /><br />
<input type=image src="images/goButton.png">

</form>

<div class="privacyLink">
I value your <span style="text-decoration:underline; color:#00aeef;">privacy.</span>
</div>

</div><!-- end freeLesOfferRight -->

<div class="freeLesSubText">
P.S. If you’re wondering about the rates -- don’t worry.  I believe in only charging reasonable rates.  I’m notthe cheapest, but I’m not the most expensive guy either.  I believe that what I’m offering here is worth 3 timeswhat most guitar teachers charge because of the powerful guitar systems and accelerated learningtechnology.  
<br /><br />
P.P.S. Remember -- there’s no obligation.  I’m offering a totally FREE guitar lesson so you can decide foryourself.  You’ve got nothing to lose.
</div>

</div><!-- end content -->
<div class="contentShadow"><!-- start contentShadow -->

</div>

</div><!-- end contentWrap -->

<div class="footer"><!-- start footer -->

<div class="recentNews"><!-- start recentNews -->
<h2>RECENT NEWS</h2>

<div class="newsItem">
<span>Lorem ipsum dolor sit amet, consectetur...</span>Sed rutrum volutpat quam, in convallis massa mattis et. Integer dictum tellus eufaucibus utrum volutpat quam, in convallis massa mattis et....</div>

<div class="newsItem">
<span>Lorem ipsum dolor sit amet, consectetur...</span>Sed rutrum volutpat quam, in convallis massa mattis et. Integer dictum tellus eufaucibus utrum volutpat quam, in convallis massa mattis et....
</div>

<div class="newsPagination"><!-- start newsPagination -->

<a href="#"><< Previous</a>
&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
<a href="#">Next >></a>

</div><!-- end newsPagination -->

</div><!-- end recentNews -->

<div class="sitemap"><!-- start sitemap -->
<h2>SITE MAP</h2>

<ul>
<li><a href="#">Guitar Articles</a></li>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<li><a href="#">Guitar Videos</a></li>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<li><a href="#">Guitar Blog</a></li>
</ul>

<ul>
<li><a href="#">Home</a></li>
&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
<li><a href="#">Instructors</a></li>
&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
<li><a href="#">News & Events</a></li>
&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
<li><a href="#">About Us</a></li>
&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
<li><a href="#">Contact Us</a></li>
</ul>

<ul>
<li><a href="#">Terms & Condition</a></li>
&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
<li><a href="#">Privacy Policy</a></li>
&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
<li><a href="#">Disclaimer</a></li>
</ul>

<a class="logo2" href="#"><img src="images/logo2.png"></a>

</div><!-- end sitemap -->

</div><!-- end footer -->

</div><!-- end wrapper -->

</body>
</html>