<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>

<title>Guitar Instructors</title>

<link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700|Shadows+Into+Light' rel='stylesheet' type='text/css'>

<!--
[if IE]>
<link rel="stylesheet" type="text/css" href="css/ie.css" />
<![endif]
-->

<link rel="stylesheet" type="text/css" href="css/default.css" />

<link rel="stylesheet" type="text/css" media="only screen and (min-width:501px) and (max-width:1000px), only screen and (min-device-width: 501px) and (max-device-width: 1000px)" href="css/medium.css" />

<link rel="stylesheet" type="text/css" media="only screen and (min-width:0px) and (max-width:500px), only screen and (min-device-width: 0px) and (max-device-width: 500px)" href="css/small.css" />

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
</script>

</head>
<body>

<div class="wrapper"><!-- start wrapper -->

<div class="top"><!-- start top -->

<div class="logo"><!-- start logo -->

<a href="#"><img src="images/logo.png"></a>

</div><!-- end logo -->

<div class="searchArea"><!-- start searchArea -->

<div>

<form>

<input type="text">
<input type="image" src="images/searchSubmit.png">

</form>

<a href="#"><img src="images/facebook.png"></a>
<a href="#"><img src="images/twitter.png"></a>
<a href="#"><img src="images/gmail.png"></a>
<a href="#"><img src="images/rss.png"></a>

</div>

</div><!-- end searchArea -->

</div><!-- end top -->

<div class="findArea"><!-- start findArea -->

<h3>No more head bangin’ on the wall...</h3>
<h2>Find Your Guitar Instructor NOW!</h2>

<ul class="namesMap">
<h4>CALIFORNIA</h4>
<li><a href="#">Los Angeles&nbsp;&nbsp;&nbsp;<span>5</span></a></li>
<li><a href="#">San Francisco&nbsp;&nbsp;&nbsp;<span>2</span></a></li>
<li><a href="#">Sacramento&nbsp;&nbsp;&nbsp;<span>1</span></a></li>
<li><a href="#">Fresno&nbsp;&nbsp;&nbsp;<span>3</span></a></li>
<li><a href="#">San Diego&nbsp;&nbsp;&nbsp;<span>1</span></a></li>
</ul>

</div><!-- end findArea -->

<div class="findAreaMob"><!-- start findAreaMob -->

<h3>No more head bangin’ on the wall...</h3>
<h2>Find Your Guitar Instructor NOW!</h2>

<ul class="namesMap">
<h4>CALIFORNIA</h4>
<li><a href="#">Los Angeles&nbsp;&nbsp;&nbsp;<span>5</span></a></li>
<li><a href="#">San Francisco&nbsp;&nbsp;&nbsp;<span>2</span></a></li>
<li><a href="#">Sacramento&nbsp;&nbsp;&nbsp;<span>1</span></a></li>
<li><a href="#">Fresno&nbsp;&nbsp;&nbsp;<span>3</span></a></li>
<li><a href="#">San Diego&nbsp;&nbsp;&nbsp;<span>1</span></a></li>
</ul>

</div><!-- end findAreaMob -->

<div class="contentWrap"><!-- start contentWrap -->

<div class="navWrap"><!-- start navWrap -->

<ul>
<li><a href="#">GUITAR LESSONS IN LOS ANGELES</a></li>
<li><a href="#">FREE GUITAR LESSON IN LOS ANGELES</a></li>
<li><a href="#">INSTRUCTORS</a></li>
</ul>

</div><!-- end navWrap -->

<div class="navMob"><!-- start navMob -->

<ul>
<li><a href="#">GUITAR LESSONS IN LOS ANGELES</a></li>
<li><a href="#">FREE GUITAR LESSON IN LOS ANGELES</a></li>
<li><a href="#">INSTRUCTORS</a></li>
</ul>

</div><!-- end navMob -->

<div class="content"><!-- start content -->

<div class="preHead"><!-- start preHead -->
Guitar Lessons In
</div><!-- end preHead -->

<div class="homeContentLeft"><!-- start homeContentLeft -->

<h1 class="mainHeading"><!-- start mainHeading -->

Los Angeles

</h1><!-- end mainHeading -->

<p>
Are you looking to take guitar lessons in Los Angeles or you live closeby? Then you've come to the right place... Maybe you're just startingout taking guitar lessons, or you've been playing for a while andlooking to get back into it, or perhaps you've been playing for awhile and need some new ideas and inspiration to take it to thenext level. 
</p>

</div><!-- end homeContentLeft -->

<div class="homeContentRight"><!-- start homeContentRight -->
<img src="images/img1.png">
</div><!-- end homeContentRight -->

<div class="instructorsWrap"><!-- start instructorsWrap -->

<h2 class="instructorsHeading">
GUITAR INSTRUCTORS
</h2>

<ul>

<li>
<img src="images/instructorThumb.png">
<div class="text">
<h3>Jon MacLennan</h3>
<p>First Line of Address HereSecond Line of AddressPhone No. 888-8888</p>
</div>
</li>

<li>
<img src="images/instructorThumb.png">
<div class="text">
<h3>Jon MacLennan</h3>
<p>First Line of Address HereSecond Line of AddressPhone No. 888-8888</p>
</div>
</li>

<li>
<img src="images/instructorThumb.png">
<div class="text">
<h3>Jon MacLennan</h3>
<p>First Line of Address HereSecond Line of AddressPhone No. 888-8888</p>
</div>
</li>

</ul>

</div><!-- end instructorsWrap -->

<a class="viewAllInstructors" href="#">
View All Instructor
</a>

</div><!-- end content -->

</div><!-- end contentWrap -->

<div class="footer"><!-- start footer -->

<div class="recentNews"><!-- start recentNews -->
<h2>RECENT NEWS</h2>

<div class="newsItem">
<span>Lorem ipsum dolor sit amet, consectetur...</span>Sed rutrum volutpat quam, in convallis massa mattis et. Integer dictum tellus eufaucibus utrum volutpat quam, in convallis massa mattis et....</div>

<div class="newsItem">
<span>Lorem ipsum dolor sit amet, consectetur...</span>Sed rutrum volutpat quam, in convallis massa mattis et. Integer dictum tellus eufaucibus utrum volutpat quam, in convallis massa mattis et....
</div>

<div class="newsPagination"><!-- start newsPagination -->

<a href="#"><< Previous</a>
&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
<a href="#">Next >></a>

</div><!-- end newsPagination -->

</div><!-- end recentNews -->

<div class="sitemap"><!-- start sitemap -->
<h2>SITE MAP</h2>

<ul>
<li><a href="#">Guitar Articles</a></li>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<li><a href="#">Guitar Videos</a></li>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<li><a href="#">Guitar Blog</a></li>
</ul>

<ul>
<li><a href="#">Home</a></li>
&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
<li><a href="#">Instructors</a></li>
&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
<li><a href="#">News & Events</a></li>
&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
<li><a href="#">About Us</a></li>
&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
<li><a href="#">Contact Us</a></li>
</ul>

<ul>
<li><a href="#">Terms & Condition</a></li>
&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
<li><a href="#">Privacy Policy</a></li>
&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
<li><a href="#">Disclaimer</a></li>
</ul>

<a class="logo2" href="#"><img src="images/logo2.png"></a>

</div><!-- end sitemap -->

</div><!-- end footer -->

</div><!-- end wrapper -->

</body>
</html>