<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>

<title>Guitar Instructors - Instructor Profile</title>

<link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700|Shadows+Into+Light' rel='stylesheet' type='text/css'>

<!--
[if IE]>
<link rel="stylesheet" type="text/css" href="css/ie.css" />
<![endif]
-->

<link rel="stylesheet" type="text/css" href="css/default.css" />

<link rel="stylesheet" type="text/css" media="only screen and (min-width:501px) and (max-width:1100px), only screen and (min-device-width: 501px) and (max-device-width: 1100px)" href="css/medium.css" />

<link rel="stylesheet" type="text/css" media="only screen and (min-width:0px) and (max-width:500px), only screen and (min-device-width: 0px) and (max-device-width: 500px)" href="css/small.css" />

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
</script>

</head>
<body>

<div class="wrapper"><!-- start wrapper -->

<div class="top"><!-- start top -->

<div class="logo"><!-- start logo -->

<a href="#"><img src="images/logo.png"></a>

</div><!-- end logo -->

<div class="searchArea"><!-- start searchArea -->

<div>

<form>

<input type="text">
<input type="image" src="images/searchSubmit.png">

</form>

<a href="#"><img src="images/facebook.png"></a>
<a href="#"><img src="images/twitter.png"></a>
<a href="#"><img src="images/gmail.png"></a>
<a href="#"><img src="images/rss.png"></a>

</div>

</div><!-- end searchArea -->

</div><!-- end top -->

<div class="contentWrap"><!-- start contentWrap -->

<div class="navWrap"><!-- start navWrap -->

<ul>
<li><a href="#">GUITAR LESSONS IN LOS ANGELES</a></li>
<li><a href="#">FREE GUITAR LESSON IN LOS ANGELES</a></li>
<li><a href="#">ABOUT JON MACLENNAN</a></li>
<li><a href="#">FEES</a></li>
</ul>

</div><!-- end navWrap -->

<div class="navMob"><!-- start navMob -->

<ul>
<li><a href="#">GUITAR LESSONS IN LOS ANGELES</a></li>
<li><a href="#">FREE GUITAR LESSON IN LOS ANGELES</a></li>
<li><a href="#">ABOUT JON MACLENNAN</a></li>
<li><a href="#">FEES</a></li>
</ul>

</div><!-- end navMob -->

<div class="content"><!-- start content -->

<div class="instPhoto">
<img src="images/instProfImg01.png">
</div>

<div class="instName">
Jon MacLennan
</div>

<div class="instLoc">
<span>LOCATION:</span> New York
</div>

<div class="instPhone">
<span>CONTACT:</span> 0987 - 654 - 321
</div>

<div class="instBio">
<h1>BIOGRAPHY</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam at vulputate arcu. Sed in odio pulvinar, tincidunt velit id, accumsan neque. Morbi rutrum dolor sed urna laoreet, quis fermentum nisi elementum. Etiam eget aliquet quam. Praesent gravida nibh odio, et laoreet lacus tristique ac. Sed facilisis mauris sed nunc ultricies, et gravida nisi iaculis. Duis viverra, velit eu aliquet hendrerit, urna arcu egestas velit, sed accumsan urna justo eget magna. Aenean sapien arcu, fringilla at ultricies et, blandit nec sem. Nunc luctus ante in enim dapibus, a hendrerit mauris adipiscing. Nunc ac porttitor orci. Vivamus sit amet porttitor arcu. Praesent non ultricies dolor. Mauris a tortor eu diam ullamcorper dapibus quis sed orci. Nunc eget pretium elit, vel aliquet velit.
</p>

<p>
Praesent id felis sapien. Donec id urna quis justo suscipit malesuada vitae vel neque. In tempor lorem aliquet tempor pretium. In fringilla sit amet tellus quis aliquam. Sed at ligula odio. Donec eget augue neque. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer nec lobortis tortor. Maecenas tellus est, semper quis tristique sed, faucibus vel nisi. Nam vulputate vestibulum feugiat. Aenean sit amet molestie felis. Cras non eros a sapien mollis imperdiet. Praesent blandit feugiat arcu quis molestie. Integer interdum sodales dolor eget facilisis. Proin et purus laoreet, viverra diam eu, gravida turpis. Vestibulum lobortis velit dolor, quis condimentum dui adipiscing vel.
</p> 
</div>

<div class="instStyles">
<h1>TEACHING STYLES</h1>
<ul>
<li class="odd">Rock</li>
<li class="even">Reggae</li>
<li class="odd">Country</li>
<li class="even">Blues</li>
<li class="odd">Bluegrass</li>
<li class="even">Classical</li>
<li class="odd">Avant-Garde</li>
<li class="even">Jazz</li>
 
</div>

</div><!-- end content -->

<div class="contentShadow"><!-- start contentShadow -->

</div><!-- end contentShadow -->

</div><!-- end contentWrap -->

<div class="footer"><!-- start footer -->

<div class="recentNews"><!-- start recentNews -->
<h2>RECENT NEWS</h2>

<div class="newsItem">
<span>Lorem ipsum dolor sit amet, consectetur...</span>Sed rutrum volutpat quam, in convallis massa mattis et. Integer dictum tellus eufaucibus utrum volutpat quam, in convallis massa mattis et....</div>

<div class="newsItem">
<span>Lorem ipsum dolor sit amet, consectetur...</span>Sed rutrum volutpat quam, in convallis massa mattis et. Integer dictum tellus eufaucibus utrum volutpat quam, in convallis massa mattis et....
</div>

<div class="newsPagination"><!-- start newsPagination -->

<a href="#"><< Previous</a>
&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
<a href="#">Next >></a>

</div><!-- end newsPagination -->

</div><!-- end recentNews -->

<div class="sitemap"><!-- start sitemap -->
<h2>SITE MAP</h2>

<ul>
<li><a href="#">Guitar Articles</a></li>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<li><a href="#">Guitar Videos</a></li>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<li><a href="#">Guitar Blog</a></li>
</ul>

<ul>
<li><a href="#">Home</a></li>
&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
<li><a href="#">Instructors</a></li>
&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
<li><a href="#">News & Events</a></li>
&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
<li><a href="#">About Us</a></li>
&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
<li><a href="#">Contact Us</a></li>
</ul>

<ul>
<li><a href="#">Terms & Condition</a></li>
&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
<li><a href="#">Privacy Policy</a></li>
&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
<li><a href="#">Disclaimer</a></li>
</ul>

<a class="logo2" href="#"><img src="images/logo2.png"></a>

</div><!-- end sitemap -->

</div><!-- end footer -->

</div><!-- end wrapper -->

</body>
</html>